/* general background and navbar */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  font-family: 'Inter', Avenir, Helvetica, Arial, sans-serif;
  color: #222;
  background: #eef4f9;
  /* added */
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  /* added */
  
}

/* Main Content */
.content {
  padding: 2rem;
  color: #333;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      padding: 1rem;
  }
  
  .navbar-links {
      flex-direction: column;
      gap: 0.8rem;
  }

  .login-button {
      width: 100%;
      text-align: center;
  }

  .logout-button {
    width: 100%;
    text-align: center;
  }
}


